################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3DBalls/Debug
/Debug
/3DBalls.VC.db
/3DBalls.VC.VC.opendb
/3DBalls/vc140.pdb
